@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@400;500&display=swap");

:root {
  --main-color: #0a58ca;
  --text-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --heading-color: #121416;
  --border-color: #e5e5e5d5;
  --sale-color: #e51a1a;
  --hover-color: #2771e0;
  --transition: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

p {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: "DM Sans", sans-serif;
}

img {
  width: 100%;
}

select,
input,
button {
  border: none;
  outline: none;
}

/* body {
  background-color: #eee;
} */

.container {
  width: 90%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1350px) {
  .container {
    width: 90%;
  }
}

/* Header */
header {
  background-color: #fff;
  box-shadow: 5px 8px 8px #d1d1d13b;
}

.top-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.top-header .cat-search {
  background-color: var(--bg-color);
  width: 600px;
  display: flex;
  align-items: center;
  height: 50px;
}

.cat-search .cats {
  height: 100%;
  width: 30%;
  margin-right: 10px;
  position: relative;
}

.cat-search .cats::after {
  position: absolute;
  content: "";
  height: 70%;
  width: 1px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b9b9b9;
}

.cat-search .cats select {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

.cat-search input {
  width: 60%;
  padding: 6px;
  height: 100%;
  background-color: var(--bg-color);
}

.cat-search button {
  width: 10%;
  background: var(--main-color);
  height: 100%;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.cat-search button:hover {
  background-color: var(--hover-color);
  transition: var(--transition);
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 50px;
}

.top-icons .icon {
  position: relative;
  font-size: 1.5rem;
}

.top-icons .icon a {
  color: var(--text-color);
}

.top-icons .icon span {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-size: 1rem;
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .top-header .cat-search {
    order: 3;
    width: 80%;
    margin: 20px auto 0;
  }
}

@media (max-width: 500px) {
  .top-header .cat-search {
    order: 3;
    width: 100%;
    margin: 20px auto 0;
  }
}

/* Bottom Header */
.bottom-header {
  border-top: 1px solid var(--border-color);
}

.bottom-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.bottom-header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 60px;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1.5rem;
  color: var(--main-color);
  transition: var(--transition);
  display: none;
}

.menu-icon:hover {
  color: var(--hover-color);
}

nav .categories {
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  transition: var(--transition);
  position: relative;
}

nav .categories:hover {
  background-color: var(--hover-color);
}

nav .categories div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.categories .drop-menu {
  position: absolute;
  /* top: 3.8rem; */
  top: 100%;
  width: 100%;
  background-color: #fff;
  padding: 0;
  z-index: 1000;
  display: none;
  transition: var(--transition);
  /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.categories .drop-menu ul {
  width: 100%;
}

.drop-menu ul li a {
  display: flex;
  width: 100%;
  padding: 10px;
  color: var(--heading-color);
  border-bottom: 1px solid var(--border-color);
  transition: var(--transition);
}

.drop-menu ul li a:hover {
  color: var(--main-color);
}

nav .menu ul {
  display: flex;
  gap: 2rem;
}

nav .menu .close {
  display: none;
}

nav .menu ul li a {
  color: var(--heading-color);
  transition: var(--transition);
}

nav .menu ul li a:hover {
  color: var(--main-color);
}

nav .menu ul li a.active {
  color: var(--main-color);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-buttons button {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  padding: 0.75rem 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}

.nav-buttons button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

@media (max-width: 1100px) {
  .menu-icon {
    display: flex;
  }

  nav .menu {
    position: absolute;
    left: -350px;
    top: -162px;
    background-color: #fff;
    width: 300px;
    height: 100vh;
    text-align: center;
    padding: 20px;
    padding-top: 10rem;
    transition: var(--transition);
    border-right: 1px solid var(--border-color);
    z-index: 1000;
  }
  nav .menu ul {
    flex-direction: column;
    position: relative;
  }
  nav .menu .close {
    display: flex;
    position: absolute;
    top: 4rem;
    right: 2rem;
    border: 1px solid var(--main-color);
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--transition);
  }
  nav .menu .close:hover {
    color: var(--hover-color);
  }
}

@media (max-width: 768px) {
  nav .categories {
    display: none;
  }
}

.toggled {
  display: flex !important;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

/* Start Slider */

.slider {
  padding-top: 1.5rem;
  position: relative;
}

.slider .container {
  display: flex;
  justify-content: space-between;
}

.slider .banner-home {
  width: 23%;
  object-fit: cover;
}

@media (max-width: 1100px) {
  .slider .banner-home {
    display: none;
  }
  .slider .container .slide-swp {
    width: 100% !important;
  }
}

.slider .banner-home a {
  display: flex;
  height: 100%;
  width: 100%;
}

.slider .container .slide-swp {
  width: 75%;
  overflow: hidden;
  position: relative;
}

.swiper-wrapper {
  height: auto !important;
}

.slider .container .slide-swp .swiper-pagination span {
  background-color: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-color) !important;
  width: 35px !important;
  height: 8px !important;
  border-radius: 30px !important;
}

/* Start Banners */
.banners {
  margin: 30px 0;
}

.banners .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banners .container .box {
  width: 24%;
  background-image: url(../img/bg_banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 10px;
  position: relative;
}

@media (max-width: 1100px) {
  .banners .container .box {
    width: 49% !important;
    margin-bottom: 2%;
  }
}

@media (max-width: 769px) {
  .banners .container .box {
    width: 100% !important;
    margin-bottom: 5%;
    justify-content: space-around;
  }
}

.banners .container .box img {
  width: 100px;
  transition: var(--transition);
}

.banners .container .box:hover img {
  transform: scale(1.05);
}

.banners .container .box h5 {
  font-size: 1rem;
}

.banners .box .sale {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 7px 0;
}

.banners .box .sale span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color);
}

.banners .box h6 {
  font-size: 0.80rem;
  font-weight: bold;
}

.banners .box a {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}